:root {
  --colorTextLight: #ffffff;
  --colorTextDark: #333333;
  --text: hsl(0, 0%, 6%);
  --background: hsl(0, 0%, 100%);
  --primary: #155630;
  --primaryLight: #1f7f47;
  --secondary: hsl(145, 18%, 87%);
  --secondaryLight: hsl(145, 18%, 93%);
  --accent: #da6c6c;
}


@media (prefers-color-scheme: dark) {
  :root[data-theme="dark"] {
    --text: hsl(0, 0%, 94%);
    --background: hsl(0, 0%, 0%);
    --primary: hsl(145, 61%, 79%);
    --secondary: hsl(145, 18%, 13%);
    --accent: hsl(0, 60%, 36%);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: var(--primary);
  color: var(--colorTextLight);
}

a {
  color: inherit;
  text-decoration: none;
}

.colorPrimary {
  color: var(--primary);
}

.colorSecondary {
  color: var(--secondary);
}

.colorAccent {
  color: var(--accent)
}

.btn {
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: color 300ms, background-color 300ms;
}

.btnPrimary {
  background-color: var(--primary);
  color: var(--colorTextLight);
}

.btnPrimary:hover{
  background-color: var(--primaryLight);
  /* color: var(--text); */
}

.btnSecondary {
  background-color: var(--secondary);
}

.btnSecondary:hover{
  background-color: var(--secondaryLight);
}

main {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}