.headerWrapper{
    display: flex;
    justify-content: center;
    position: sticky;
    top: -1px;
    width: 100%;
    background-color: var(--background);
    z-index: 999;
}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
}

.navList {
    display: flex;
    gap: 2rem;
    align-items: center;
    display: none;
}

.navLink {
    font-size: 1.2rem;
}

.mobileNavToggler {
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mobileNavToggler .lines {
    background-color: black;
    height: 1px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .mobileNavToggler {
        display: none;
    }
    .navList {
        display: flex;
    }
    .logo{
        font-size: 2rem;
    }

}

@media screen and (min-width: 768px){
    .header{
        padding: 1rem 0;
        max-width: 1200px;
    }
}