.heroSection {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.heroLeft {
    flex: 4;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.heroRight {
    flex: 3;
}

.heroRight img{
    max-width: 100%;
    object-fit: contain;
}

.heroSection .title {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.heroSection .para {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.heroBtns{
    display: flex;
    gap: 1rem;
}

.heroButton{
    font-size: 1rem;
}