.coinCard {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    gap: 2rem;
}

.green {
    background-color: #1f7f470f;
}

.red {
    background-color: #da6c6c0f;
}

.left, .right{
    padding-block: 1rem;
}

.left {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1rem;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.name {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.green .change {
    color: var(--primaryLight);
}

.red .change {
    color: var(--accent)
}